<div class="container mt-5">
    <!-- Header -->
  <header class="text-center mb-5">
    <h1 class="display-4">About OmbuHub</h1>
    <%= image_tag "robot_phyton.png" %>
  </header>

  <!-- What is OmbuHub? -->
  <section id="about-ombuhub" class="mb-4">
      <h2 class="h3 mb-3 border-bottom pb-2">What is OmbuHub?</h2>
      <p>
          OmbuHub is an innovative bootcamp designed specifically for the young minds of tomorrow. We believe every child has the potential to craft wonders, and with the power of Robotics and AI, the sky's the limit! Dive into a world where imagination meets creation.
      </p>
  </section>

  <!-- What do we offer? -->
  <section id="offerings" class="mb-4">
      <h2 class="h3 mb-3 border-bottom pb-2">What do we offer?</h2>
      <ul class="list-unstyled">
          <li><i class="fas fa-check mr-2 text-success"></i> Interactive Sessions: Learn Robotics and AI concepts through fun and engaging methods.</li>
          <li><i class="fas fa-check mr-2 text-success"></i> Hands-on Projects: Bring your ideas to life with practical projects.</li>
          <li><i class="fas fa-check mr-2 text-success"></i> Certified Instructors: Passionate experts molding the next generation.</li>
          <li><i class="fas fa-check mr-2 text-success"></i> Collaborative Learning: Team up with other LeWagonitos and embark on tech adventures.</li>
      </ul>
  </section>

  <!-- Who can join? -->
  <section id="eligibility" class="mb-4">
      <h2 class="h3 mb-3 border-bottom pb-2">Who can join?</h2>
      <p>
          All children between the ages of 6-12 are welcome to join the OmbuHub family! Whether you're a newbie or a tech prodigy, there's a place for you here.
      </p>
  </section>

  <!-- What stack do we use? -->
  <section id="tech-stack" class="mb-4">
      <h2 class="h3 mb-3 border-bottom pb-2">What stack do we use?</h2>
      <ul class="list-unstyled">
          <li><i class="fas fa-robot mr-2 text-primary"></i> Robotics Kits: Beginner-friendly kits tailored for children.</li>
          <li><i class="fas fa-laptop-code mr-2 text-primary"></i> Blockly and Scratch: Coding platforms for young learners.</li>
          <li><i class="fas fa-shapes mr-2 text-primary"></i> TinkerCAD: For digital designs and understanding robotics.</li>
          <li><i class="fas fa-code mr-2 text-primary"></i> Python: Exposure to a versatile language used in AI.</li>
      </ul>
  </section>
</div>
