<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Ombu Hub brings <strong>tech skills</strong> to <strong>young people</strong>!</h1>
    <p>Change theirs life and tech them how to code and create.</p>
    <a class="btn btn-flat" href="#">Soon</a>
  </div>
</div>
