


<div class="container text-center">

  <div class="row">

    <div class="col-12 col-md-6">
          <div class="card justify-content-center justify-content-md-center text-md-start text-center">

          <h1 class="fs-1">Ombu Hub lleva habilidades tecnológicas a los jóvenes!</h1>
          <p class="fs-3">Transformamos sus vidas y les enseñamos a programar y crear</p>
          <a class="btn btn-flat align-self-center align-self-md-start" href="https://api.whatsapp.com/send/?phone=543812073710&text=Hola%21+Me+gustar%C3%ADa+recibir+informaci%C3%B3n+sobre+el+curso+de+Rob%C3%B3tica+y+Programaci%C3%B3n+para+ni%C3%B1os+y+j%C3%B3venes+%EF%BF%BD&type=phone_number&app_absent=0">Enviar Whatsapp</a>

        </div>

    </div>

        <div class="col-12 col-md-6">
              <div class="card_photo justify-content-center justify-content-md-end">
                <%= image_tag('oh.png', class: 'photo') %>
            </div>
        </div>

  </div>

     <div class="row flex-md-row flex-column-reverse">

        <div class="col-12 col-md-6">
                <div class="card_photo justify-content-center justify-content-md-start">
                  <%= image_tag('oh.png', class: 'photo') %>
              </div>
          </div>

        <div class="col-12 col-md-6">
              <div class="card justify-content-center justify-content-md-center text-md-end text-center">

              <h1 class="fs-1">Ombu Hub lleva habilidades tecnológicas a los jóvenes!</h1>
              <p class="fs-3">Transformamos sus vidas y les enseñamos a programar y crear</p>
              <a class="btn btn-flat align-self-center align-self-md-end" href="https://api.whatsapp.com/send/?phone=543812073710&text=Hola%21+Me+gustar%C3%ADa+recibir+informaci%C3%B3n+sobre+el+curso+de+Rob%C3%B3tica+y+Programaci%C3%B3n+para+ni%C3%B1os+y+j%C3%B3venes+%EF%BF%BD&type=phone_number&app_absent=0">Enviar Whatsapp</a>

            </div>

    </div>


  </div>


</div>
