
.card {
  display: flex;
  border: none;
  padding: 36px;
  background: none;
  display: flex;
  flex-direction: column;
  // justify-content: center; /* Horizontal centering */
  // align-items:flex-start; /* Vertical centering */
  // height: 100vh; /* Optional: Set the container height as needed */


}



.card_photo {
  display: flex;
  align-items: center;
  border: none;
  padding: 24px;

}
