.float{
  display: flex;
  justify-content: center;
  align-items: center;
	position:fixed;
	width:  100px;
	height:100px;
	bottom:66px;
	right:66px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
  font-size:60px;
	box-shadow: 2px 2px 3px #999;
  text-decoration: none;
  // z-index:100;
}
